body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  background-color: #e2e8f0;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-size: .8em;
  font-weight: 400;
  color: #222;
}

.app {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
 
}

.container {
  flex-grow: 1;

  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 40px;

  label {
    margin: 10px 0;
  }

  .button {
    margin-top: 10px;
  }
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
}

.button {
  background-color: #319795;
  border-radius: 0.125rem;
  padding: 10px 20px;
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9em;
  &:hover {
    cursor: pointer;
  }
}

.wallet {

  display: flex;
  flex-direction: column;

  flex-basis: 50%;

  hr {
    border: 0;
    width: 90%;
    color: black;
    background-color: black;
    height: 2px;
    margin-top: 1em;
    }

  .balance {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .9em;
    display: inline-flex;
    margin-top: 10px;
    padding: 0.75rem;
    background-color: #f4f6f8;
  }

  p {
    font-size: .8em;
    
  }
}

.transfer {
  display: flex;
  flex-direction: column;
}

.errorContainer {
  flex-grow: 1;

  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 40px;
  width: 100%;
  height: fit-content;
  min-height: 2em;
}

.error {
  color: rgb(129, 26, 26);
  padding-bottom: 2px;
  padding-top: 2px;
  font-weight: bold;

}

.createAccount {
  display: flex;
  flex-direction: column;
}

.dropdown {
  visibility: visible;
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0px min-content;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
}



select {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(41, 18, 18);
}

select > option {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background-color: rgb(247, 247, 247);
  background-image: none;
  font-size: 18px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgb(41, 18, 18);
}


.table-wrapper {
  position:relative;

}

.table-scroll {
  height: 120px;
  overflow-y: auto;  
  margin-top: 18px;
  position: relative;
}

.table-wrapper table {
  width:100%;
  border:3px solid black;
  box-sizing: border-box
}

//.table-scroll table thead .text {
.table-scroll thead {
  position:sticky;   
  top:-60px;
  top:0;
  z-index:2;
  height:18px;
  width:35%;
  border:3px solid black;
  background-color: #319795;
  color: white;
}

.table-scroll tbody {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

